@import "src/index.scss";

.heroSection {
  padding-top: 40px;
  padding-bottom: 71px;

  background-image: url(../../images/background/bg-img_s@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/background/bg-img_s@2x.jpg);
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../../images/background/bg-img_m@1x.jpg);
  }

  // retina tablet screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/background/bg-img_m@2x.jpg);
  }

  // Desktop screen
  @media screen and (min-width: 1024px) {
    background-image: url(../../images/background/bg-img_l@1x.jpg);

    // retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/bg-img_l@2x.jpg);
    }
  }

  // XL Desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/background/bg-img_xl@1x.jpg);

    // retina desktop screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/background/bg-img_xl@2x.jpg);
    }
  }

  max-width: 1170px;

  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    padding-top: 89px;
    padding-bottom: 88px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 164px;
    padding-bottom: 163px;
  }
}

.heroText {
  text-align: center;

  color: var(--white);
}

.heroContainer {
  width: 100%;
  max-width: 380px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.heroTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;

  margin-bottom: 32px;
}
