.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

  color: var(--black);
  background-color: var(--primary);

  border: none;
  border-radius: 80px;

  width: 100px;

  padding-top: 4px;
  padding-bottom: 4px;

  cursor: pointer;

  transition: background-color ease-in-out 300ms;

  &:hover {
    background-color: var(--hover);
  }

  &.large {
    width: 120px;
  }

  &:disabled {
    color: var(--white);
    background-color: var(--disabled-button);
    cursor: auto;
  }
}
