:root {
  --primary: #f4e041;
  --secondary: #00bdd3;
  --background: #f8f8f8;
  --black: #000000de;
  --white: #ffffff;
  --background-black: #00000080;
  --disabled-button: #b4b4b4;
  --hover: #ffe302;
  --radion-border: #d0cfcf;
  --radion-checked: #00bdd3;
}
