@import "src/index.scss";

.header {
  background-color: var(--white);

  position: sticky;
  top: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;

  width: 100%;
}

.buttonsList {
  display: flex;
  gap: 10px;
}

.logo {
  width: 104px;
  height: 26px;
  cursor: pointer;
}
