.listItem {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 328px;

  @media screen and (min-width: 768px) {
    width: 344px;
  }

  @media screen and (min-width: 1024px) {
    width: 282px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.userInfoWrapper {
  width: 100%;
}

.userImage {
  border-radius: 100%;
}

.userText {
  text-align: center;

  color: var(--black);

  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
