.listItem {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.userImage {
  border-radius: 100%;
}

.userText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;

  color: var(--black);

  width: 288px;

  // width: 304px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
