@import "src/index.scss";

.radioBlock {
  position: relative;
  margin-bottom: 47px;

  width: 100%;
}

.positionsList {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.radioTitle {
  color: var(--black);

  margin-bottom: 11px;
}
