// @import "src/index.scss";

.inputBlock {
  position: relative;
}

.helperText {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--label);

  position: absolute;
  left: 16px;
  margin-top: 4px;
}

.inputLabel {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--label);
  padding: 5px;
  transition: 0.2s ease-in;
  pointer-events: none;

  &.falseValidate {
    color: var(--error);
  }
}

.inputField {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--radio-border);
  border-radius: 4px;
  outline: none;
  background-color: transparent;

  height: 54px;

  &.falseValidate {
    border-color: var(--error);
    border-width: 2px;
  }

  &:focus + .inputLabel,
  &:not(:placeholder-shown) + .inputLabel {
    top: 0;
    transform: translateY(-50%) translateX(-10px);
    background-color: var(--background);

    font-size: 12px;
    line-height: 14px;
  }
}
